html {
	scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  color: whitesmoke;
}
a:link, a:visited {
	color: orange;
	text-decoration: none;
}
a:hover {
	color: orangered;
}
.sidebar {
  width: 200px;
  padding: 1rem;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  overflow-y: auto; /* Make the sidebar scrollable */
}
nav {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.sidebar a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0.5rem 0;
}
a.nav-god {
  color: darkslategray;
  margin-left: 10px;
  font-size: .90rem;
}
.sidebar a:hover {
	color: orangered;
}
.copyright, .copyright a {
	font-size: small;
	color: darkgray;
	display: inline-block;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
}
main {
  margin-left: calc(200px + 3rem);
  padding: 1rem 2rem;
}
section {
	max-width: 1030px;
}
h1 {
	font-size: 3rem;
	margin: 1rem auto;
}
#about {
	margin: 2rem 0;
	border-top: solid 1px whitesmoke;
	border-bottom: solid 1px whitesmoke;
	padding: 1rem 0 2rem 0;
	color: lightgray;
}
.god picture {
	margin-right: 2rem;
}
.god img {
	max-width: 100%;
	display: inline-block;
	padding: 10px;
	background-image: linear-gradient(to right, #202020, #202020);
	background-clip: padding-box;
	box-sizing: border-box;
	border: solid 5px transparent;
}
.god-info {
	border-top: solid 1px whitesmoke;
	border-bottom: solid 1px whitesmoke;
}
.god-info p {
	background-image: linear-gradient(to right, orange, red);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	margin-right: 1rem;
}
.god-info h2 {
	font-size: 2rem;
	line-height: 2rem;
	margin: 1rem 0;
	padding: 0;
	color: white;
}
li {
	color: lightgray;
}
li span { 
	color: white; 
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -185px;
    transition: left 0.3s;
    z-index: 2;
    background-color: whitesmoke;
  }
  .sidebar.open {
    left: 0;
  }
  main {
    margin-left: 3rem;
  }
}

/* Add a media query for small screens to enable scrolling for the sidebar */
@media screen and (max-height: 500px) {
  .sidebar {
    height: auto;
    overflow-y: scroll;
  }
  main {
  	padding: 1rem;
  }
}