<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
  <div class="hamburger" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="sidebar">
    <nav>
      <a class="nav-title" href="#about">About This Project</a>
      <a class="nav-title" href="#meet">Meet The New Gods</a>
      {% for god in site.data.gods_list %}
        <a class="nav-god" href="#god{{ god.number }}" onclick="toggleSidebar()">{{ god.title }}</a>
      {% endfor %}
      <a class="nav-title" href="#contact">Contact the Artist</a>
      <span class="copyright">&copy; 2023 <a href="https://digitalaltar.com">Digital Altar</a></span>
    </nav>
  </div>
  <main>
    <h1>New Gods: The Ancestral Mosaic</h1>
    <p class="byline">by Digital Altar</p>
    <section id="about">
      <h2>About This Project</h2>
      <p>New Gods: The Ancestral Mosaic is a vivid tribute and exploration into the artist’s identity — using ai tools to create & curate the merging of elements from personally relevant cultural mythologies in order to conceive a modern-day pantheon. Each piece is a deeply personal homage to the harmonious blending of ancestral traditions and the ever-evolving, complicated story of interconnected cultures across generations.</p>
    </section>

    <section id="meet">
      {% for god in site.data.gods_list %}
      <article class="god" id="god{{ god.number }}">
      <picture class="god-img">
        <!-- WebP format -->
        <source media="(min-width: 600px)" srcset="./assets/webp/{{ god.image-name }}-1000px.webp" type="image/webp">
        <source srcset="./assets/webp/{{ god.image-name }}-400px.webp" type="image/webp">
        <!-- Fallback to JPEG format -->
        <source media="(min-width: 600px)" srcset="./assets/jpg/{{ god.image-name }}-1000px.jpg">
        <img src="./assets/jpg/{{ god.image-name }}-400px.jpg" alt="{{ god.title }}">
      </picture>
        <div class="god-info">
          <h2>{{ god.title }}</h2>
          <p>{{ god.description }}</p>
          <ul>
            <li class="attribute">
              Attributes: <span>{% for attribute in god.attributes %}{{ attribute }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span> 
            </li>
            <li class="day">Their Day: <span>{{ god.day }}</span></li>
            <li class="herb">Herb: <span>{{ god.herb }}</span></li>
            <li class="stone">Stone: <span>{{ god.stone }}</span></li>
            <li class="element">Element: <span>{{ god.element }}</span></li>
            <li class="source">Source: <span>{{ god.source }}</span></li>
          </ul>
        </div>
      </article>
      {% endfor %}
    </section>
    <section id="contact">
      <h2>Contact the Artist</h2>
      <ul>
        <li><a href="https://digitalaltar.com">DigitalAltar.com</a></li>
        <li>Twitter: <a href="https://twitter.com/digital_altar">@digital_altar</a></li>
        <li>IG: <a href="https://www.instagram.com/digitalaltar/">@digitalaltar</a></li>
        <li><a href="https://github.com/Digital-Altar/new-gods">This site @ Github</a></li>
        <li>Find me on Tezos: <adigitalaltar.tez</li>
        <li>Find me on Ethereum: digitalaltar.eth</li>
      </ul>
    </section>
  </main>
  <script src="./assets/js/scripts.js"></script>
</body>
</html>